@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'OswaldRegular';
    src: url('/assets/fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OswaldBold';
    src: url('/assets/fonts/Oswald-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'OswaldExtraLight';
    src: url('/assets/fonts/Oswald-ExtraLight.ttf') format('truetype');
}

.zeo-primary {
    background-color: #2F4881;
}

.zeo-secondary {
    background-color: #EC089D;
}

.zeo-text-primary {
    color: #2F4881;
}

.zeo-text-secondary {
    color: #EC089D;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-regular {
    font-family: 'OswaldRegular';
}

.text-extra-light {
    font-family: 'OswaldExtraLight';
}

@media (prefers-color-scheme: dark) {
    .unable-dark-mode {
        background-color: white;
        /* utilizado cuando el dispositivo está en modo oscuro */
    }
}