@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'OswaldRegular';
    src: url('/assets/fonts/Oswald-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OswaldBold';
    src: url('/assets/fonts/Oswald-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'OswaldExtraLight';
    src: url('/assets/fonts/Oswald-ExtraLight.ttf') format('truetype');
}

.zeo-primary {
    background-color: #2F4881;
}

.zeo-secondary {
    background-color: #EC089D;
}

.zeo-text-primary {
    color: #2F4881;
}

.zeo-text-secondary {
    color: #EC089D;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-regular {
    font-family: 'OswaldRegular';
}

.text-extra-light {
    font-family: 'OswaldExtraLight';
}

.icons{
    border-radius: 20px;
  background-color: white;
  padding: 5px;
  margin: 13px auto 5px;
  width: 60px;
  height: 60px;
  box-shadow: 10px solid black;
  transition:all .2s ease-in-out;
}

.icon-link{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icon-link + .icons:hover .highlighter:hover{
   
}

.icon-link:hover .icons,
.icon-link:active .icons,
.icon-link:focus .icons
 {
    box-shadow: 0px 0px 20px 10px rgba(3, 171, 255, 0.582);
    -webkit-box-shadow: 0px 0px 20px 10px rgba(3, 171, 255, 0.582);
    -moz-box-shadow: 0px 0px 20px 10px rgba(3, 171, 255, 0.582);
}

.icon-link:hover .highlighter,
.icon-link:active .highlighter,
.icon-link:focus .highlighter{
    box-shadow: 0px 0px 20px 10px rgba(3, 171, 255, 0.582);
    -webkit-box-shadow: 0px 0px 20px 10px rgba(3, 171, 255, 0.582);
    -moz-box-shadow: 0px 0px 20px 10px rgba(3, 171, 255, 0.582);
    background-color: rgba(3, 171, 255, 0.582);
}

@media(max-width:480px){
    .icon-link{
        transform:scale(.8) !important;
    }
}

.highlighter{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 4px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    flex-shrink: 1;
    
}



@media (prefers-color-scheme: dark) {
    .unable-dark-mode {
        background-color: white;
        /* utilizado cuando el dispositivo está en modo oscuro */
    }
}